<h1>Connection</h1>
<span class="btn" ng-class="{'btn-danger': !disconnected}" hm-tap="connect(true)">Available</span>
<span class="btn" ng-class="{'btn-danger': disconnected}" hm-tap="connect(false)">Not available</span>