<p>Forgot Password?</p>

<p><button ng-click="back()">Back</button></p>


<p>No problem. Please enter your e-mail address and it will be sent :</p>

Email :
<p><input type="text" ng-model="email"/></p>

<button ng-click="send(email)">Send</button>

<p>{{result}}</p>