<h1>Login</h1>
Username: <input ng-model="username"><br>
Password: <input ng-model="password"><br>
<div class="btn" hm-tap="login()" ng-click="login()">Login</div>
<div class="btn" hm-tap="signUp()" ng-click="signUp()">Sign up</div>
<div class="btn" hm-tap="forgotpassword()">Forgot Password</div>
<span>{{message}}</span>
