<div>
	<h2 data-language="SELECT_PICKUP">{{value}}</h2>
<div style="height: 400px; width: 400px">
	<tgm-map style="width: 100%; height: 100%" tgm-zoom="10" tgm-name="map"></tgm-map>
	<tgm-marker tgm-name="taxiMarker"></tgm-marker>
</div>
<div ng-show="newJob">
{{trip.pickUp.description}}
{{trip.dropOff.description}}
{{trip.RequestTime}}
<span class="btn"  hm-tap="response(true)">Accept</span>
<span class="btn"  hm-tap="response(false)">Decline</span>
</div>
