
<span> <button hm-tap="">Menu</button> My jobs </span>

<div ng-controller="MyjobsCtrl">
	<div ng-hide="current==[]">
			<p>Current</p>
		<ul>
			<li ng-repeat="booking in current" hm-tap="viewMore()">
				
				<p>{{booking.destination}}</p>
				<p>time: {{booking.time}}      date: {{booking.date}}</p>
				<p>{{booking.driver.name}}</p>
				
			</li>
		</ul>

	</div>
	<span> <button hm-tap="past()">Past</button> <button hm-tap="inAdvance()">In Advance</button> </span>

		<ul ng-show="selection=='past'">

			<li ng-repeat="booking in pastBookings" hm-tap="viewMore()">
				
				<p>{{booking.destination}}</p>
				<p>time: {{booking.time}}      date: {{booking.date}}</p>
				<p>{{booking.driver.name}}</p>
				
			</li>

		</ul>

		<ul ng-show="selection=='inAdvance'">

			<li ng-repeat="booking in inAdvanceBookings" hm-tap="viewMore()">

				<p>{{booking.destination}}</p>
				<p>time: {{booking.time}}      date: {{booking.date}}</p>
				<p>{{booking.driver.name}}</p>

			</li>

		</ul>
</div>
