<body ng-controller="MyprofileCtrl"> 
<div class="btn" hm-tap="">Menu</div>
<div>
<p>Driver</p>
		
		<p>{{driver.name}}</p>			
				
	
<p>Car</p>
<div >

</div>
<p>Change password</p>
<div ng-hide="driver==null">
New Password: <input ng-model="password"><br>
Reapeat new Password: <input ng-model="confirm_password"><br>
<div class="btn" hm-tap="changePassword()">Change Password</div>
</div>
</div>
</body>