<h2>Send notifications</h2>
<input type="checkbox" ng-model="sendNotifications">
<h2>Use localization</h2>
<input type="checkbox" ng-model="useLocalization">
<span class="btn" hm-tap="goTo('tutorial')">Save</span>
