<p>Driver Sign Up</p>

<button ng-click="back()">Back</button>

<div ng-show="step==1">

	First Name :
	<p><input  type="text" ng-model="FName"/></p>

	LastName : 
	<p><input type="text" ng-model="LName"/></p>

	PhoneNumber :
	<p><input type="text" ng-model="PhoneNumber"/></p>

	Car Model :
	<p><input type="text" ng-model="CarModel"/></p>
	<button ng-click="next_step(FName,LName,PhoneNumber,CarModel)">NextStep</button>
</div>

<div ng-show="step==2">

	
	
	Email :
	<p><input type="text" ng-model="email"/></p>

	Password :
	<p><input type="text" ng-model="password"/></p>

	Confirm password :
	<p><input type="text" ng-model="confirm_password"/></p>

	

	<button ng-click="next(email,password, confirm_password)">Next</button>

	<p>{{result_signUp}}</p>
</div>