<p>This is the tripreceive view.</p>
<div ng-controller="TripreceiveCtrl">
{{current.location}}
{{current.destination}}
{{current.time}}
<span class="btn"  hm-tap="response(true)">Accept</span>
<span class="btn"  hm-tap="response(false)">Decline</span>
</div>
