<p>
<button hm-tap="backTap()">Back</button>
Trip Details</p>

<div><p>time: {{trip.time}}		date: {{trip.date}}</p></div>


<div><p hm-tap="call()">Tap to Call {{trip.passenger.name}}</p></div>


<p>Pickup: {{trip.pickup}}</p>

<p>Destination: {{trip.destination}}</p>

<p hm-tap="currentTrip()">Driver name: {{trip.passenger.name}}</p>

<div><p>Tip: {{trip.tip}}     Length: {{trip.length}}     Number of passengers: {{trip.passengers}}</p></div>